.region-footer-bottom p:has(img) {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.region-footer-bottom nav ul.menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px 40px;
  list-style: none;
  padding: 0;
}